<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Hotel Management System </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style.css">
    <style>
        html {
            font-family: 'Source Sans Pro', sans-serif;
        }
        *::-webkit-scrollbar {
            width: 0.35em;
            height: 0.35em;
            background-color: transparent;
            border-radius: 1rem;
        }
        *::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 1rem;
        }
        * {
            scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
        }
    </style>
    
</head>
<body>
    <h1 class="text-center text-4xl mt-3 mb-2 px-4 py-2"> <a href="/"> Hotel Management System </a> </h1>
    <div class="text-lg mx-6 mb-4">
        {% block body %}

        {% endblock body %}
    </div>
    {% block script %}
        
    {% endblock script %}
</body>
</html>